/vendor/
.cursor
composer.lock
phpcs.phar
/benchmarks/results/
/benchmarks/reports/
/tests/results/
/.phpunit.cache/
/ext/fast/autom4te.cache/
/ext/fast/build/
/ext/fast/configure
/ext/fast/configure.ac
/ext/fast/config.h
/ext/fast/config.h.in
/ext/fast/config.log
/ext/fast/config.status
/ext/fast/libtool
/ext/fast/Makefile
/ext/fast/Makefile.fragments
/ext/fast/Makefile.objects
/ext/fast/modules/
/ext/fast/run-tests.php
/ext/fast/.libs/
/ext/fast/*.lo
/ext/fast/*.la
/ext/fast/install-sh
/ext/fast/ltmain.sh
/ext/fast/missing
/ext/fast/mkinstalldirs
/ext/fast/acinclude.m4
/ext/fast/aclocal.m4
/ext/fast/fast.ini
